@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-3">
    <h1>Welcome to Fast Food App</h1>
    
</div>
<p style="text-align:center;"><img src="https://static.takeaway.com/images/restaurants/bg/0NRR0P5N/logo_465x320.png" alt="Italian Trulli" class="center">